/* GENERAL */

* {
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h5 {
  font-size: 24px;
  margin: 0px;
}

/* NAV */

nav {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
}

.nav-item {
  padding: 4px;
}

.nav-item a {
  font-size: 14px;
}

/* LAYOUT */

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;
  width: 100%;
  max-width: 1400px;
  height: calc(100vh - 48px);
  max-height: 900px;
  margin: 24px;
  min-height: 480px;
}

.header {
  width: 100%;
  height: 128px;
  min-height: 128px;
  background-color: white;
  border-radius: 8px 8px 0 0;
}

.footer {
  width: 100%;
  height: 64px;
  min-height: 64px;
  background-color: white;
  border-radius: 0 0 8px 8px;
}

.content {
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.first-col {
  flex-basis: 25%;
  min-width: 240px;
  margin-right: 24px;
}

.first-col-02 {
  display: flex;
  flex-direction: column;
}

.second-col {
  flex-grow: 1;
  display: flex;
}

.second-col-02 {
  display: flex;
}

.third-col {
  flex-basis: 25%;
  min-width: 240px;
}

.form {
  background-color: white;
  flex-grow: 1;
  min-height: 180px;
  max-height: 320px;
  margin-top: 20px;
}

.second-col-01 {
  background-color: white;
}

.second-col-02 {
  background-color: #212121;
  margin: -24px -24px -24px 0px;
  border-radius: 0px;
}

/* BREAKPOINTS */

@media only screen and (max-width: 1200px) {
  .third-col-01 {
    display: none;
  }

  .dialog-01 {
    align-items: center;
  }

  .content-01 {
    flex-direction: column;
    width: 75%;
  }

  .first-col-01 {
    width: 100%;
    margin-right: 0;
    height: auto;
    flex-basis: auto;
  }
}

@media only screen and (max-width: 800px) {
  .dialog-02 {
    align-items: center;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .content-02 {
    flex-direction: column;
    width: 75%;
    min-width: none;
  }

  .first-col-02 {
    margin: 0px;
  }

  .second-col-02 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .content-02 {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .dialog {
    margin: 0px;
    height: 100vh;
  }

  body {
    font-size: 14px;
  }

  .header,
  .footer,
  .dialog {
    border-radius: 0px;
  }
}
